body{
  background: #e0e0e0;
}

#to-do-list{
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 16px 16px rgba(0,0,0,0.3);
}

#to-do-list > *{
  padding: 8px 16px;
}

#new-to-do-input{
  flex-grow: 1;
  margin-right: 8px;
}

#add-to-do-row {
  padding: 8px 16px;
  border-bottom: 1px solid #cbcdcf;
  display: flex;
  justify-content: space-between;
}

.listItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

p{
  margin: 0;
}

.listItem p {
  flex-grow: 1;
  margin: 0 10px;
}

input.checkbox{
  margin: 0;
  width: 16px;
  height: 16px;
}

#bottomRow{
  border-top: 1px solid #cbcdcf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bottomRowText{
  flex-grow: 1;
}

#bottomRow > *:not(:first-child){
  margin-left: 8px;
}

.filterButton{
  background-color: rgb(205, 245, 245);
  outline: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
}

.active-filter {
  background-color: rgb(100, 219, 219);
  outline: none;
}

