body{
  background: #e0e0e0;
}

#to-do-list{
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 16px 16px rgba(0,0,0,0.3);
}

#to-do-list > *{
  padding: 8px 16px;
}

#new-to-do-input{
  flex-grow: 1;
  margin-right: 8px;
}

#add-to-do-row {
  padding: 8px 16px;
  border-bottom: 1px solid #cbcdcf;
  display: flex;
  justify-content: space-between;
}

.listItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

p{
  margin: 0;
}

.listItem p {
  flex-grow: 1; /* Add this line to make the paragraph take up remaining space */
  margin: 0 10px; /* Add this line to give space around the paragraph */
}

input.checkbox{
  margin: 0;
  width: 16px;
  height: 16px;
}
